<form [formGroup]="formGroup">
  <mat-form-field>
    <input type="text"
           matInput
           placeholder="Email"
           formControlName="email">
    <mat-error *ngIf="formGroup.get('email').errors?.email">Please enter correct email address.</mat-error>
    <mat-error *ngIf="formGroup.get('email').errors?.required">Email is required.</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input [type]="isClearText ? 'text' : 'password'"
           matInput
           placeholder="Password"
           formControlName="password">
    <mat-icon matSuffix
              (click)="isClearText = !isClearText">{{isClearText ? 'visibility_off' : 'visibility'}}</mat-icon>
    <mat-error>Password is required.</mat-error>
  </mat-form-field>
</form>
